<h1 mat-dialog-title>Change {{data.vehicle.label}} Icon</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-select placeholder="Select" [(ngModel)]="data.selectedVehicleType" >
      <mat-option [value]="vtype" *ngFor="let vtype of vehicleType"><span
          [class]="getVehicleIcon(vtype)"></span> {{vtype}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data" >Ok</button>
  <!-- [mat-dialog-close]="data.animal"  -->
</div>