/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.text-Running {
  color: Green;
}
.text-idlingr {
  color: Light;
}
.text-offline {
  color: Black;
}
.text-Stopped {
  color: Grey;
}
.text-runningOverSpeed {
  color: Red;
}
.text-runningOverStreetSpeed {
  color: Orange;
}
